header {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border-bottom: 1px solid #e1003c;
  }
header img {
    width: 200px;
    height: auto;
    margin-right: 20px;
  }
  
  
header h1 {
    color: #e1003c;
    font-size: 2rem;
  }