
/* Notification list */
.Notifications ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.Notifications li[data-priority="default"] {
  color: blue;
}

.Notifications li[data-priority="urgent"] {
  color: red;
}

.Lastet-Notification {
  color: red
}